// COLORS
$color-primary: #5dcb9a;
$color-primary-2: #a3e8a5;
$color-secondary: #394249;
$color-grey-primary: #dbdcf8;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px;
}

body {
  background-color: $color-secondary;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  color: $color-white;
}

ul {
  list-style: none;
}

.container {
  background-color: $color-white;
  margin: 8rem auto;
  width: 70%;
}

// SIDE BAR //
.sidebar {
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: $color-grey-primary;
  color: $color-grey-dark-3;
  flex: 0 0 18%;
  height: 100%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .side-profile {
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-grey-light-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      display: block;
      margin: 1.75rem 0;
      border: 5px solid transparent;
      transform: scale(1);
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        border: 5px solid $color-primary;
        transform: scale(1.1);
      }
    }

    &__text {
      font-weight: 100;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  .side-nav {
    list-style: none;


    &__item {
      position: relative;
    }

    &__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      transform: scaleY(0);
      background-color: $color-primary;
      // transition: width .4s, transform .3s;
    }

    &__item:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: $color-grey-dark-3;
      display: block;
      padding: 3rem 0;
      letter-spacing: 2px;
      text-align: center;
      align-self: stretch;
      position: relative;
      z-index: 1;
      font-weight: 400;
    }

    &__link:active,
    &__link:hover {
      color: $color-white;
    }
  }
}

.btn {
  border: none;
  color: $color-white;
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $color-primary;

  &--goal {
    align-self: flex-start;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 3rem;
  }

  &--category {
    transition: all 0.2s;
    padding: 3rem 0;
  }
  &:hover {
    background-color: rgba($color-primary, 0.8);
  }
}

.content {
  display: flex;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery {
  display: flex;

  &__img {
    width: 100%;
    display: block;
  }
}

.filter-options {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  &__link:link,
  &__link:visited {
    color: $color-grey-dark-3;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
  }

  &__link:active,
  &__link:hover {
    border: 1px solid $color-primary;
    transition: all 0.2s;
  }
}

.goal-content {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  color: $color-grey-dark-3;
  border-bottom: 1px solid $color-grey-light-2;
}

.goals {
  background-color: color-grey-light-4;

  &__list {
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    margin-bottom: 2rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    flex: 0 0 30%;
    font-weight: 100;
  }
}

.time__item,
.state__item {
  display: inline-block;
  margin-right: 3rem;
  font-size: 1.3rem;
}

.heading-1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
